@using Microsoft.AspNetCore.Mvc.Rendering
@using LecturesProjectExample.Example.Utils
@model StudentItemViewModel
@{
    ViewData["Title"] = "Add student";
}

<div class="text-center">
    @using (Html.BeginForm("AddStudent", "AddNewStudent", FormMethod.Post))
    {
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2" align="center">Student Details</th>
            </tr>
            <tr>
                <td>FirstName: </td>
                <td>
                    @Html.TextBoxFor(m => m.FirstName)
                </td>
            </tr>
            <tr>
                <td>Name: </td>
                <td>
                    @Html.TextBoxFor(m => m.LastName)
                </td>
            </tr>
            <tr>
                <td>Gender: </td>
                <td>
                    @Html.DropDownListFor(m => m.Gender, 
                        GenderUtils.GetAll().Select(g => new SelectListItem(g.ToString(), g.ToString())), "Please select")
                </td>
            </tr>
            <tr>
                <td>Year of Studying: </td>
                <td>
                    @Html.TextBoxFor(m => m.YearOfStudying)
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit"/></td>
            </tr>
        </table>
    }
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
