@model IEnumerable<StudentItemViewModel>

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Year of studying</th>
        </tr>
        @foreach (StudentItemViewModel item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.YearOfStudying</td>
            </tr>
        }
    </table>
   

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
